/Day3/Rucksacks/bin/Debug/net6.0/Rucksacks.exe
/Day3/Rucksacks/obj
/Day3/Rucksacks/bin
/Day3/.idea

/Day4/.vs
/Day4/CampCleanup/.vs
/Day4/CampCleanup2/.vs
/Day4/CampCleanup2/x64

/Day5/Day5/Day5/obj
/Day5/Day5/Day5/bin
/Day5/Day5/Library/obj
/Day5/Day5/Library/bin
/Day5/Day5/Tests/obj
/Day5/Day5/Tests/bin